BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: OneTrueBrace
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
ColumnLimit: 104
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
