Language: Cpp
IndentWidth: 4
UseTab: Never
PointerAlignment: Right
SpaceAfterCStyleCast: false
BreakBeforeBraces: Attach
InsertBraces: true
InsertNewlineAtEOF: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Always
AlignAfterOpenBracket: Align
ColumnLimit: 104
IndentCaseLabels: true
AlignTrailingComments: true
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: false
SortIncludes: false
